<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <meta http-equiv="refresh" content="1"> -->

    <title>Login</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        html, body {
            height: 100vh;
        }
        body {
            background-color: #777;
        }
        /* header */
            body > header { 

                position: absolute;
                top: 0;
                left: 0;
                /* transform: translateX(calc(-50% - 1vw)); */

                width: 80vw;
                max-width: 900px;
                height: 100vh;

                z-index: 1;
            }
            /* notifications */
                body > header #notifications {
                    display: flex;
                    flex-direction: column;

                    padding: 1vw 0 0 1vw;

                }
                body > header #notifications div {
                    display: flex;
                    align-items: center;


                    width: 50%;
                    height: 10vw;
                    max-height: 100px;

                    margin-top: min(2vw, 20px);
                    padding: .5vw;

                    font-size: max(2vw, 20px);
                    color: white;

                    background-color: rgb(17, 17, 17);
                    box-shadow: .3vw 0 .5vw rgba(0, 0, 0, 0.568);

                    transition: 1s transform;
                }


        /* main */
            main {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;

                width: 40vw;
                height: 100vh;
                min-width: 500px;

                margin: 0 50%;
                transform: translateX(-50%);

                box-shadow: 0 0 10vw rgba(0, 0, 0, .9);
                background-color: rgba(255, 255, 255, .3);
                border: .1vw solid black;
            }
            /* header */
                main header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                main header h1 {
                    text-align: center;
                    font-size: max(6vw, 70px);
                }
            /* section */
                main section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);

                    width: 90%;
                }
                /* Block */
                    main div.block {
                        width: 100%;
                        margin: 2vw;

                        padding: 10px;
                    }
                    /* label */
                        main div.block label {
                            display: block;
                            font-size: min(4.5vw, 50px);
                            margin-left: 2vw;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    /* input */
                        main div.block input[type="text"] {
                            width: 100%;
                            height: 2.5vw;
                            min-height: 40px;

                            text-indent: 0.5vw;
                            font-size: min(3.5vw, 30px);
                        }
                        main div.block input[type="button"] {
                            position: relative;
                            left: 50%;
                            transform: translateX(-50%);

                            width: 50%;
                            height: 2.5vw;
                            min-height: 35px;

                            border-radius: .6vw;
                            border:  none;
                            box-shadow: 0 0 .3vw black;

                            font-size: min(3vw, 25px);
                            letter-spacing: .2vw;
                            font-weight: 700;
                        }
                        main div.block input[type="button"]:hover {
                            box-shadow: 0 0 .3vw black inset;
                            cursor: pointer;
                        }



    </style>
</head>
<body>
    <header>
        <section id="notifications">
            <div id="_1"> Esta sala esta lotada </div>
            <div id="_2"> Esta sala esta extremamente lotada </div>
        </section>
    </header>
    <main>
        <header>
            <h1>Tic Tac Toe</h1>
        </header>
        <section>
            <div class="block">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Insert your name">
            </div>
            <div class="block">
                <label for="room">Room</label>
                <input type="text" name="room" id="room" placeholder="Insert code room">
            </div>
            <div class="block">
                <input type="button" name="play" id="play" value="Play">
            </div>
        </section>
    </main>

    
    <script type="Module">
        import Messages from "/modules/Messages.js";
        
        
        document.querySelector('input#play').addEventListener('click', (e) => {
            let room = document.querySelector('input#room').value
            window.location.href = '/game/'+room;
        })

    

        const fMessages = new Messages(document.querySelector('header #notifications'))
    </script>
</body>
</html>