<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styleLogin.css">
    <title>Login</title>
</head>
<body>
    <header>
        <section id="notifications">
            <!-- <div id="_1"> Esta sala esta lotada </div>
            <div id="_2"> Esta sala esta extremamente lotada </div> -->
        </section>
    </header>
    <main>
        <header>
            <h1>Tic Tac Toe</h1>
        </header>
        <section>
            <div class="block">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Insert your name">
            </div>
            <div class="block">
                <label for="room">Room</label>
                <input type="text" name="room" id="room" placeholder="Insert code room">
            </div>
            <div class="block">
                <input type="button" name="play" id="play" value="Play">
            </div>
        </section>
    </main>

    
    <script type="Module" src="/js/mainLogin.js"></script>
</body>
</html>