* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
}



/* main */
    main {
        display: flex;
        flex-direction: column;

        width: fit-content;
        height: 100vh;

        margin: 0 50%;
        transform: translateX(-50%);


        background-color: rgba(0, 0, 0, .3);
    }
    /* header */
        main header {
            position: relative;

            width: 100%;
            height: 10%;
        }
        /* score */
            main header #score {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1vh;

                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                padding: 1vh;

                width: 50%;
                height: 85%;

                background-color: red;
            }
            main header #score > * {
                display: flex;
                justify-content: center;
                align-items: center;
                
                overflow: hidden;

                font-size: 6vh;

                background-color: black;
                color: white;
            }
        /* time */
            main header #time {
                position: absolute;
                padding: 0 1vh;

                right: 2vh;
                bottom: 0;

                font-size: 4.5vh;
                font-weight: 900;

                color: white;
                background-color: black;
            }
    /* game */
        main #game {
            padding:  1vh 2vh 2vh 2vh;

            display: grid;
            grid-template: repeat(3, 1fr) / repeat(3, 1fr);
            gap: 1vh;

            height: 90%;
            aspect-ratio: 1;
        }
        main #game > * {
            position: relative;
            background-color: rgb(43, 43, 43);
        }